@import "src/styles/variables";

.loader {
  width: 70.4px;
  height: 70.4px;
  color: $color-lilac;
  background: linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0),
    linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0);
  background-size: 36.2px 36.2px;
  background-repeat: no-repeat;
  animation: loader-33 1.2000000000000002s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes loader-33 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }

  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 105.6px;
    height: 105.6px;
  }

  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 105.6px;
    height: 105.6px;
  }

  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
