@import "../../../styles/variables";

.input__container {
  width: 100%;
  .input__wrapper {
    display: flex;
    align-items: center;

    width: 100%;
    height: auto;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-top: 5px;

    .item__id {
      padding: 10px 15px 10px 20px;
      width: 20px;

      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      height: 5px;

      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      color: $color-transparent-white;
    }

    .input__item {
      padding: 10px 0;
      height: 100%;
      margin-left: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      background: none;
      border: none;
      resize: none;
      overflow: hidden;

      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: $color-white;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $color-transparent-white;
      }
    }

    .input__buttons {
      display: flex;
      align-items: center;
      gap: $gap-20;
      padding: $padding-20;
    }
  }
}

.error__message {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
  color: $color-error;
}
