@import "src/styles/variables";

.navbar {
  .navbar_wrap {
    .navbar_links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: $gap-25;

      .navbar_links_item {
        list-style: none;

        .nabar_links_item_text {
          color: #b8b9bd;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 29px;
          letter-spacing: 0.04em;
          transition: ease-in-out 0.3s;
          text-transform: uppercase;

          &:hover {
            color: $color-white;
            transition: ease-in-out 0.5s;
          }
        }
      }
    }
  }
}
