@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
  color: $color-white;
}

body {
  background: no-repeat $color-body;
  width: 100%;
}

a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  transition: ease-in-out 0.3s;

  &:hover {
    color: $color-mint;
    transition: ease-in-out 0.5s;
  }
}
