@import "src/styles/variables";

.svg__button {
  cursor: pointer;
  fill: $color-transparent-white;
  transition: ease-in-out 0.3s;
  background: none;
  border: none;

  display: flex;
  align-items: center;

  &:hover {
    fill: $color-mint;
    transition: ease-in-out 0.5s;
  }

  &:disabled {
    fill: rgba(255, 255, 255, 0.2);
    cursor: default;
  }
}
