.layout__default {
  // background: olive;

  position: relative;
  width: 1410px;
  margin: auto;
  min-height: calc(100vh - 283px - 80px);
}

.progress {
  position: absolute; // fixed
  width: 50px;
  top: 470px;
  right: 120px;
}
